<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="caption">Schelling's model of segregation</div>
   <div id="my_dataviz" style="position: relative;">
      <svg width = "460" height = "400" style="position: absolute;">
         <g transform="translate(60,10)">
         </g>
      </svg>
   </div>
    <script src="static/js/d3.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>